.container {
    width: 600px;
    height: 400px;
    background-color: lightgray;
    margin: auto;
    font-family: arial;
    box-sizing: border-box;
	
}

.header {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: blue;
}

ul {
    display: flex;
	width: 200px;
    align-items: center;
	list-style: none;
	justify-content: space-evenly;
}

.body {
    margin: 0px 20px;
    padding-bottom: 70px;
    color: blue;
}

.footer p {
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: center;
    background-color: blue;
}
