.container {
	width: 600px;
	height: 400px;
	background-color: lightgray;
	margin: auto;
	font-family: arial;
	box-sizing: border-box;
}
.header {
	color: white;
	padding: 5px 20px;
	background-color: blue;
}
span {
	float: right;
	font-size: 17PX;
	padding: 10px 10px;
}

.body {
	margin: 0px 20px;
	padding-bottom: 70px;
	color: blue;
}
.footer  {
	background-color: blue;
	height: 40px;
}
.footer p {
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 12px;
} 